<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{url_for('static', filename='logo.png')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% block head %}
  {% endblock %}
  <title> {% block title %} {% endblock %} | EduEngine </title>
</head>

<body>
  {% block header %}

  <div class = "row justify-content-center" style = "background-color: #a6b1e1">

    <div><h2 style = "text-align:center"><a  style = "color:black" href = "/home"> EduEngine </a></h2></div><br>

    <ul class="nav justify-content-center align-items-center">
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects By Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/students">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/schools">Schools</a>
      </li>
      <button class = "btn-sm align-items-center">
        <a class="nav-link" href="/login">Login</a>
      </button>
    </ul>

  </div>
  {%endblock%}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}


  {% block body %}
  {% endblock %}

  {% block footer%}
  <footer class = "position-sticky" style="text-align:center; position:fixed">
    <img src="{{url_for('static', filename='logo.png')}}" height="40" width="40">
    &copy;ca$hmoney 2019
  </footer>
  {%endblock%}
</body>

</html>
