{%extends 'base.html'%}



{%block body%}
<center>
<h1> {{user['Username']}} </h1>
<h2> Welcome, {{user['firstname']}} {{user['lastname']}} !</h2>
</center>

{% if owner %}
<div class = 'container'>
<div class = "row justify-content-center" id = "feed" style = "margin-top:50px">
  <div class = 'col-md-3'>
    </div>
  <div class = 'col-md-3'>
    <center>
      <a href = "/makeproject">
    <button type="button" class="btn btn-outline-success" href = "/makeproject">Make a New Project</button>
    </a>
    </center>
  </div>
<div class = 'col-md-3'>
  <center>
      <button type="button" class="btn btn-outline-primary">Update your Profile</button>
      </center>
  </div>
  <div class = 'col-md-3'>
    </div>
</div>
</div>
{% endif %}
<div class = "row justify-content-center" id = "feed" style = "margin-top:50px">

  {% for post in posts %}

  <a href="/project?id={{post['id']}}" style = "color:black; text-decoration:none">

  <div class = "card" style="width: 15rem; margin: 20px" >
    <img class = "card-img-top" src = {{post['img']}}></img>
    <div class = "card-body">
      <h4 class = "card-title"> {{post['title']}} </h4>


      <p class = "card-text">{{post['description']}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <div class="progress">
	      {% set size = "width: " + (post['current_amount'] / post['goal'])|string + "%" %}
	      <div class="progress-bar bg-success" role="progressbar" style={{size}} aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> {{post['current_amount']}} </div>
	      <div style="color: black">
      		{{post['goal']}}
	      </div>
      </div>
    </div>
  </div>

</a>
  {%endfor%}

</div>

{%endblock%}
